body {
	background-color: black;
}

#wrapper {
	width: 960px;
	min-height: 400px;
	background: transparent;
	margin: 0 auto;
	margin-top: 40px;
}

.columns-2 {
	width: 440px;
	min-height: 200px;
	background: #fff;
	margin: 10px;
	padding: 10px;
	float: left;
}

.clearfix {
	clear: both;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#test {
color: #000;
}